<% provide :title, "Help" %>
<h1>Help</h1>
<p>
  Get help on the Fakebook at the
  <a href="http://www.fakebook.com/#help">Fakobook help section</a>.
  To get help on this sample app, see the
  <a href="http://www.fakebook.com/information"><em>Fakebook Tutorial</em>
  information</a>.
</p>
