<% provide :title, "Help" %>
<h1>Help</h1>
<p>
  Get help on the Workbook at the
  <a href="http://www.Workbook.com/#help">Workbook help section</a>.
  To get help on this sample app, see the
  <a href="http://www.Workbook.com/information"><em>Workbook Tutorial</em>
  information</a>.
</p>
