<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/status_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Statuses Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Fakebook</h1>
    <h2>Fakebook for everyone</h2>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
