<% provide(:title, 'All users') %>
<div class="row">
  <aside class="col-md-6">
    <h2>Users</h2>
    <ul class="users">
      <% if @users.count == 0 %>
      <h2>No results found</h2>
      <% else %>
        <%= render @users %>
      <% end %>
    </ul>
  </aside>
  <% if params[:search] %>
    <aside class="col-md-6">
      <h2>Groups</h2>
      <ul class="groups">
      <% if @groups.count == 0 %>
        <h2>No results found</h2>
      <% else %>
        <% @groups.each do |group| %>
          <%= render 'group', group: group %>
        <% end %>
      <% end %>
      </ul>
    </aside>
  <% end %>
</div>
